/* Style the header */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.header {
    padding: 10px;
    background: indigo;
    color: #f1f1f1;
    height: 100%;
    max-width: 100%;
}

/* Page content */
.content {
    padding: 20px;
    margin: 0;
    min-height: calc(100vh - 60px);
    color: white;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.center{
    justify-content: center;
    display: flex;
}

div{
    background-color: black;
}

.dark_theme{
    background-color: indigo;
}

.AuthButton{
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Lato', sans-serif;
}

.AuthButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.AuthButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.AuthButton:hover span {
    padding-right: 20px;
}
  
.AuthButton:hover span:after {
    opacity: 1;
    right: 0;
}

.stop{
    margin: 0px;
}

.homeLinkButton{
    --bs-btn-padding-y: 200px;
    --bs-btn-font-size: 40px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.title{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lobster', cursive;
}

.title:hover{
    text-decoration: underline;
    color: white;
}