/* Style the header */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');


.header {
    padding: 10px;
    background: indigo;
    color: #f1f1f1;
    height: 100%;
    max-width: 100%;
}

/* Page content */
.content {
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 60px);
    color: white;
    overflow: hidden;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.center{
    justify-content: center;
    display: flex;
}

div{
    background-color: black;
}

.dark_theme{
    background-color: indigo;
}

.AuthButton{
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Lato', sans-serif;
}

.AuthButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.AuthButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.AuthButton:hover span {
    padding-right: 20px;
}
  
.AuthButton:hover span:after {
    opacity: 1;
    right: 0;
}

.stop{
    margin: 0px;
}

.title{
    text-decoration: none;
    color: turquoise;
    font-family: 'Lobster', cursive;
}

.title:hover{
    text-decoration: underline;
    color: turquoise;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1em;
    padding: 10px;
}

.carousel-indicators{
    background-color: black;
    border-radius: 1em;
}


.d-block{
    height: 100vh;
    width: 100vw;
    margin-bottom: 5vh;
}

.homeLinkButton{
    --bs-btn-padding-y: 20px;
    --bs-btn-font-size: 40px;
    width: 90%;
    font-family: 'Lato', sans-serif;
    background-color: turquoise;
    border-color: turquoise;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    padding: 0px;
    margin: 5vh;
}

.homeLinkButton:hover{
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.readTitle{
    text-align: center;
    margin: 20px;
}

.branchButton{
    margin:20px;
    margin-left: 5%;
}

.readText{
    text-align: justify;
    margin: 30px;
}

.imageContainer {
    margin: 3%;
    padding: 2%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-family: 'Fondamento', cursive;
}

.dalleImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}