/* Style the header */
.header {
    padding: 10px 16px;
    background: indigo;
    color: #f1f1f1;
}

body{
    height: 100vh;
}

/* Page content */
.content {
    padding: 16px;
    flex: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.center{
    justify-content: center;
    display: flex;
}

div{
    background-color: black;
}

.dark_theme{
    background-color: indigo;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.AuthButton{
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.AuthButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .AuthButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .AuthButton:hover span {
    padding-right: 20px;
  }
  
  .AuthButton:hover span:after {
    opacity: 1;
    right: 0;
  }