.Form{
    height: 100%;
    width: 100%;
    background-color: white;
    display: block;
    align-items: center;
    overflow:hidden;
    color: white;
    background-color: black;
}

.Form .write-page__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.Form .write-page__branch{
    display: flex;
    justify-content: left;
    padding-left: 2%;
    align-items: center;
    height: 100%;
    width: 100%;
} 

.Form .write-page__continue{
    display: flex;
    justify-content: left;
    padding-left: 2%;
    align-items: center;
    height: 100%;
    width: 100%;
} 

.Form textarea{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 5%;
    background-color: lightgray;
    border-radius: 1em;
}


.Form .continueStory{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 1%;
    border-radius: 1em;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }